PROJECT_NAME=doctrine-behaviors
WORKDIR=/srv/src/app

# тести за замовчуванням ідуть на sqlite in-memory
DB_ENGINE=pdo_sqlite
DB_HOST=localhost
DB_NAME=orm_behaviors_test
DB_USER=root
DB_PASSWD=rootpass
DB_MEMORY=true

MYSQL_PORT=33071
POSTGRES_PORT=54371
