services:
    -
        class: Miets\DoctrineBehaviors\PHPStan\Type\TranslatableTranslateDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Miets\DoctrineBehaviors\PHPStan\Type\TranslatableGetTranslationsDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Miets\DoctrineBehaviors\PHPStan\Type\TranslationGetTranslatableDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
